PARAMITA MONDAL

In [ ]:
#1. Declare an integer variable `age` with the value 25.
age=int(25)
print(age)

25

In [ ]:
#2. Create a string variable `name` with your name as its value.
name='Paro'
print(name)

Paro

In [ ]:
#3. Declare a list variable `fruits` containing three fruit names of your choice.
fruits=['apple','mango','banana']
fruits

['apple', 'mango', 'banana']

In [ ]:
#4. Write code to swap the values of two variables, `a` and `b`, without using a temporary variable.
a=10
b=20
a=a+b
b=a-b
a=a-b
print("a=",a," b=",b)

a= 20  b= 10

In [ ]:
#5. Create a float variable `price` with the value 19.99
price=19.99
print(price)

19.99

In [ ]:
#6. Define a boolean variable `is_student` and set it to `True`.
is_student=True
print(is_student)

True

In [ ]:
#7. Create a tuple variable `coordinates` that stores the latitude and longitude of a location (e.g., (40.7128,-74.0060)).
coordinates=(40.7128,-74.0060)
print(coordinates)

(40.7128, -74.006)

In [ ]:
# 8. Declare a dictionary variable `student` with keys "name" and "age" and set their values accordingly.
student = {
    "name":"Paramita Mondal",
    "age":20
}
print(student)

{'name': 'Paramita Mondal', 'age': 20}

In [ ]:
#9. Write a Python program that calculates the area of a circle with a given radius. Use a variable `radius` to store the radius value.
import math
radius = 5.0
area = math.pi * (radius ** 2)
print("The area of the circle with radius is:",area)

The area of the circle with radius is: 78.53981633974483

In [ ]:
#10. Create a list variable `numbers` containing integers from 1 to 10 using list comprehensive
numbers=[i for i in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#11. Define a variable `is_valid` and set it to `False`. Then write code to toggle its value to `True`.
is_valid=False
is_valid=not is_valid
print(is_valid)

True

In [ ]:
#12. Declare a string variable `sentence` with a sentence of your choice.
sentence='I love coding'
print(sentence)

I love coding

In [ ]:
#13. Write a program that calculates the sum of all numbers from 1 to 100 using a variable `total_sum`.
total_sum=0
for i in range(1,101):
  total_sum+=i
print(total_sum)

5050

In [ ]:
#14. Create a list variable `grades` containing five test scores as floating-point numbers.
grades=[65.7,54.3,98.3,45.6,54.8]
grades

[65.7, 54.3, 98.3, 45.6, 54.8]

In [ ]:
#15. Define a variable `greeting` and assign it the value "Hello, World!".
greeting="Hello, World"
print(greeting)

Hello, World

In [ ]:
#16. Declare a tuple variable `months` containing the names of the twelve months of the year.
months = ("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
print(months)

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')

In [ ]:
#17. Write code that increments an integer variable `counter` by 1 and then prints its value.
counter=0
counter+=1
print(counter)

1

In [ ]:
#18. Create a dictionary variable `book` with keys "title", "author", and "year" to store information about a book.
book={
    "title":"Pride and Prejudice",
    "author":"Jane Austen",
    "year":1813
}
print(book)

{'title': 'Pride and Prejudice', 'author': 'Jane Austen', 'year': 1813}

In [ ]:
#19. Define a variable `pi` and assign it the value of the mathematical constant π (pi).
import math
pi=math.pi
print(pi)

3.141592653589793

In [ ]:
#20. Declare a list variable `colors` containing the names of five different colors.
colors=['green','yellow','pink','blue','white']
print(colors)

['green', 'yellow', 'pink', 'blue', 'white']

In [ ]:
#21.Write a program that calculates the area of a rectangle using variables `length` and `width`.
length=input("Enter the length:")
width=input("Enter the width:")
area=float(length)*float(width)
print("Area of a rectangle is ",area)

Enter the length:87
Enter the width:33
Area of a rectangle is  2871.0

In [ ]:
#22. Create a dictionary variable `person` with keys "first_name" and "last_name" to store a person's name.
person={
    "first_name":"Paramita",
    "last_name":"Mondal"
}
print(person)

{'first_name': 'Paramita', 'last_name': 'Mondal'}

In [ ]:
#23. Define a variable `temperature` and assign it a value in Celsius. Convert it to Fahrenheit and store the result in another variable.
temperature=37
fahrenheit=(temperature*9/5)+32
print(fahrenheit)

98.6

In [ ]:
#24. Write code that appends a new item to a list named 'shopping_list"
shopping_list=['apple','mango','banana']
shopping_list.append('orange')
print(shopping_list)

['apple', 'mango', 'banana', 'orange']

In [ ]:
#25. Declare a variable `is_raining` and set it to `True`. Then write code to change its value to `False`
is_raining=True
is_raining=False
print(is_raining)

False